<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="description" content="trabajfinal" /> <meta name="robots" content="NOFOLLOW" />
<meta name="Author" content="Luis" />
<meta name="keywords" content="demo,prueba,trabajofinal" />
<meta name="lang" content="es" />
<meta name="revisit-after" content="2 days" />
<meta name="category" content="Prácticas" />
<!-- Declaración de fichero de estilos -->
<link rel="stylesheet" type="text/css" href="../estilos/estilos.css">
<title> Trabajo Final</title>

</head>
  
<body>
  <header>
    <div>
      <img src="../img/logo.jpg" id="img_cabe"> </a>
    </div>
    <nav>
      <!--div que contiene el menu-->
      <div class="div_menu">
        <span class="boton">
          <a href="../index.html" class="div_menu">Inicio</a>
        </span>
        <span class="boton">
          <a href="../views/productos.html"
          class="div_menu">Productos</a>
        </span>
        <span class="boton">
        <a href="../views/presupuesto.html"
        class="div_menu">Presupuesto</a>
        </span>
        <span class="boton">
        <a href="../views/contacto.html"
        class="div_menu">Contacto</a>
       </span>
     </div>
   </nav>
  </header> 
  <!--Seccion con mapa y contacto de la empresa-->
  <h1>¿Donde nos ubicamos?</h1> <span> <img src="../img/mapview.jpeg" id="img-map"></span>
  <p> Calle Gran Vía,78
   <br> 28013 Madrid,Madrid
   <br> +34666766677
   <br> camisasfut@gmail.es
  </p>
   
  <footer>
    <!--Div que contiene el pié de la pagina-->
          <div id="div_footer">
               ::masterD::Practica HTML y CSS::Todos los derechos reservados::
               <br><a href="https://es-es.facebook.com"> <img src="../img/facebook.jpg" id="minilink"></a>
                   <a href="https://www.instagram.com"><img src="../img/Instagram_logo_2022.svg.png" id="minilink"></a>
                   <a href="https://x.com/?lang=es"><img src="../img/xlogo.avif" id="minilink"></a>
          </div>
       </footer>  
       
   </body>
</html>