<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<!-- Declaración de fichero de estilos -->
 <link rel="stylesheet" href="../estilos/estilos.css">
<title> Trabajo Final</title>

</head>
  
<body>
  <header>
    <div>
      <img src="../img/logo.jpg" id="img_cabe"> </a>
    </div>
    <nav>
      <!--div que contiene el menu-->
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>  
    </nav>
  </header> 
  <!--Seccion con mapa y contacto de la empresa-->
  <h1>¿Donde nos ubicamos?</h1> <span> <img src="../img/mapview.jpeg" id="img-map"></span>
  <p> Calle Gran Vía,78
   <br> 28013 Madrid,Madrid
   <br> +34666766677
   <br> camisasfut@gmail.es
  </p>
   
  <footer>
    <!--Div que contiene el pié de la pagina-->
          <div id="div_footer">
               ::masterD::trabajo final::Todos los derechos reservados::
               <br><a href="https://es-es.facebook.com"> <img src="../img/facebook.jpg" id="minilink"></a>
                   <a href="https://www.instagram.com"><img src="../img/Instagram_logo_2022.svg.png" id="minilink"></a>
                   <a href="https://x.com/?lang=es"><img src="../img/xlogo.avif" id="minilink"></a>
          </div>
       </footer>  
       
   </body>
</html>