<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<!-- Declaración de fichero de estilos -->
<link rel="stylesheet" type="text/css" href="../estilos/estilos.css">
<title> Trabajo Final </title>

</head>
  
<body>
  <header>
    <div>
      <img src="..img/logo.jpg" id="img_cabe"> </a>
    </div>
    <nav>
      <!--div que contiene el menu-->
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>  
    </nav>
</header> 
 <!--Seccion con el formulario-->
 <h1>¿Quieres saber mas de nuestros servicios?</h1><span> <img src="../img/city.jpg" id="imagen_presu"></span>
   <p>Rellena el formulario a continuación y nos pondremos en contacto contigo </br>
     <br>Nombre: <input type="text" name="nombre" id="nombre" value=""> </br>
     <br>Email: <input type="text" name="email" id="email" value=""> </br>
     <br>Teléfono: <input type="text" name="telefono" id="telefono" value=""> </br>
     <br>Solicite más información:
     <br><textarea cols="30" rows="6" name="prueba"></textarea> </br> </p>
     <input type="checkbox" name="casilla" value="acepto" > He leido y acepto la "Política de privacidad"
     de la empresa </br>
      <br><input type="submit" name="boton" value="enviar"> </br>

   <footer>
     <!--Div que contiene el pié de la pagina-->
           <div id="div_footer">
                ::masterD::Trabajo final::Todos los derechos reservados::
                <br><a href="https://es-es.facebook.com"> <img src="../img/facebook.jpg" id="minilink"></a>
                    <a href="https://www.instagram.com"><img src="../img/Instagram_logo_2022.svg.png" id="minilink"></a>
                    <a href="https://x.com/?lang=es"><img src="../img/xlogo.avif" id="minilink"></a>
           </div>
        </footer>  
        
    </body>
</html>
     

 
